@mixin aboutLayout {
  font-size: 1rem;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  background-image: linear-gradient(to left top, $lightSilver, darken($brightPink, 30%));
  border: $blackBorder;
  box-shadow: $midnightShadow;
  transition: all .5s ease-in-out;
  & p {
    font-size: 0.001px;
  }
  &:hover {
    font-size: 2rem;
    width: 40vw;
    height: 40vh;
    border-radius: 2.5rem;
    & p {
      transition-delay: .375s;
      font-size: 2rem;
      content: "";
      display: inline-block;
      color: yellow;
    }
  }
}

@mixin aboutLayoutBottom {
  font-size: 1rem;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, $lightBlue, darken($mediumPurple, 30%));
  border: $blackBorder;
  box-shadow: $midnightShadow;
  transition: all .5s ease-in-out;
  & p {
    font-size: 0.001px;
  }
  &:hover {
    font-size: 2rem;
    width: 50vw;
    height: 50vh;
    border-radius: 2.5rem;
    transform: translateY(-20rem);
    & p {
      transition-delay: .375s;
      font-size: 2rem;
      content: "";
      display: inline-block;
      color: yellow;
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width:  37.5em) { // 600px
      @content
    };
  }
  @if $breakpoint == customSmall {
    @media only screen and (max-width: 50em) { // 800px
      @content
    };
  }
  @if $breakpoint == tabPort {
    @media only screen and (max-width:  56.25em) { // 900px
      @content
    };
  }
  @if $breakpoint == customMedium {
    @media only screen and (max-width: 62.5em) { // 1000px
      @content
    };
  }
  @if $breakpoint == tabLand {
    @media only screen and (max-width:  75em) { // 1200px
      @content
    };
  }
  @if $breakpoint == bigDesktop {
    @media only screen and (min-width:  112.5em) { // 1800px
      @content
    };
  }
}