// Colors
$white: #ffffff;
$black: #0c0606;
$grey: #757474;
$darkGrey: #999;
$darkerGrey: #333;
$lightGrey: #f7f7f7;
$lighterGrey: #eee;
$lightBlue: #2998ff;
$mediumPurple: #5643fa;
$lightGreen: #0ee70e;
$darkGreen: #095209;
// Font-Sizes
$smallFont: 1.6rem;