// Colors
$white: #ffffff;
$black: #0c0606;
$grey: #757474;
$darkGrey: #999;
$darkerGrey: #333;
$lightGrey: #f7f7f7;
$lighterGrey: #eee;
$lightBlue: #2998ff;
$mediumPurple: #5643fa;

// Font-Sizes
$smallFont: 1.6rem;