// For the About section. I think this will be one of the harder ones to do, since 
// I'm trying to basically say everything while saying very litte.
.About {
  font-size: 2rem;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, $mediumPurple, darken($mediumPink, 30%));
  color: white;
  display: grid;
  grid-template-rows: 5rem repeat(4, 20rem) 5rem;
  grid-template-columns: repeat(12, 1fr);
  &-Dummy {
    margin: 2rem 0 0 2rem;
    width: 12.5rem;
    height: 12.5rem;
    background: black;
    border-radius: 50%;
    text-align: center;
    transition: all .4s ease-out;
    &:hover {
      width: 25rem;
      height: 25rem;
      border-radius: 5rem;
    }
    &-One {
      margin: 2rem 0 0 2rem;
      width: 12.5rem;
      height: 12.5rem;
      background: black;
      border-radius: 50%;
      text-align: center;
      transition: all .4s ease-out;
    }
  }
}