// For the About section. I think this will be one of the harder ones to do, since 
// I'm trying to basically say everything while saying very litte.
.About { 
  font-size: 2rem;
  height: 100vh;
  color: white;
  display: grid;
  &-Dummy {
    padding: 2rem;
    text-align: center;
    justify-items: center;
    align-content: center;
    display: grid;
    grid-template-rows: 5rem repeat(4, 20rem) 5rem;
    grid-template-columns: repeat(12, 1fr);
    &-Two {
      grid-column: 5;
      grid-row: 2;
      @include aboutLayout;
    }
    &-Three {
      grid-column: 8;
      grid-row: 2;
      @include aboutLayout;
    }
    &-Six {
      grid-column: 5;
      grid-row: 4;
      @include aboutLayoutBottom;
    }
    &-Seven {
      grid-column: 8;
      grid-row: 4;
      @include aboutLayoutBottom;
    }
  }
}