// For the About section. I think this will be one of the harder ones to do, since 
// I'm trying to basically say everything while saying very litte.
.About {
  font-size: 2rem;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, $mediumPurple, darken($mediumPink, 30%));
  color: white;
  display: grid;
  grid-template-rows: 5rem repeat(4, 20rem) 5rem;
  &-Dummy {
    width: 50rem;
    height: 50rem;
    background: black;
    border-radius: 50%;
    text-align: center;
  }
}