.contact {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(5, 20vh);
  background: url("../../../images/ssc064banner.jpg") no-repeat center center / cover;

  // transition: all .3s ease-out;
  & a {
    width: 100%;
  }

  &-facebook {
    grid-column: 2 / 4;
    grid-row: 2;
    background: #3b5998;
    @include contactDefaults;
  }

  &-twitter {
    grid-column: 3 / 5;
    grid-row: 3;
    background: #1da1f2;
    @include contactDefaults;

    &:hover {
      width: 350%;
    }
  }

  &-instagram {
    grid-column: 5 / 7;
    grid-row: 5;
    background: linear-gradient(217deg, rgba(64, 93, 230, .8), rgba(88, 81, 219, 0) 70.71%),
      linear-gradient(127deg, rgba(131, 58, 180, .8), rgb(193, 53, 132) 70.71%),
      linear-gradient(336deg, rgba(225, 48, 108, .8), #fd1d1d 70.71%);
    @include contactDefaults;

    &:hover {
      width: 250%;
    }
  }

  &-pintrest {
    @include contactDefaults;
    background: #bd081c;
    grid-column: 4 / 6;
    grid-row: 4;

    &:hover {
      width: 300%;
    }
  }
}