.creations {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
    justify-content: center;

    & img {
      padding: .5rem .5rem .5rem .5rem;
    }
  }
}