.creations {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  overflow: hidden;

  & li {
    padding: 5px 2px 5px 2px;
  }

  & img {
    filter: grayscale(100%);
    width: 19rem;
    height: 19rem;
    transition: all 0.2s ease-out;

    &:hover {
      filter: none;
      transform: scale(1.1);
      transition: all 0.2s ease-in;
      padding: 2rem;
    }
  }

  &-list {
    padding: 0;
    margin: 2rem 1rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  @include respond(tabLand) {
    & img {
      width: 25rem;
      height: 25rem;
      padding: 5px;
      margin: 0;
    }

    & li {
      padding: 0;
      margin: 0;
    }

    &-list {
      padding: 0;
      margin: 0;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
    @media(max-height: 37.5rem) {
      & img {
        width: 30rem;
        height: 30rem;
        padding: 1rem;
        margin: 0;
      }
      &-list {
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmx(30rem, 30rem));
      }
    }
  }

  @include respond(phone) {
    & li {
      padding: 0;
      margin: 0;
    }
    & img {
      width: 20rem;
      height: 20rem;
      padding: 0;
      margin: 0;
    }
    &-list {
      grid-template-columns: 1fr 1fr;
      padding: 0;
      margin: 0;

      &:hover {
        padding: 0;
        margin: 0;
      }
    }
  }
}
