.creations {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  overflow: hidden;

  & li {
    padding: 5px 2px 5px 2px;
  }

  & img {
    filter: grayscale(100%);
    width: 20rem;
    height: 20rem;
    transition: all 0.2s ease-out;

    &:hover {
      filter: none;
      transform: scale(1.2);
      transition: all 0.2s ease-in;
      padding: 2rem;
      // border: 1mm ridge rgba(34, 34, 34, 0.95);
    }
  }

  &-list {
    padding: 0;
    margin: 2rem 1rem 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  @include respond(phone) {
    & li {
      padding: 0;
      margin: 0;
    }

    &-list {
      grid-template-columns: 1fr 1fr;
      padding: 0;
      margin: 0;

      &:hover {
        padding: 0;
        margin: 0;
      }
    }
  }
}