.home {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30rem 40rem;

  @include respond(phone) {
    grid-template-columns: 1fr 10rem;
    grid-template-rows: 100vh max-content max-content;
    font-size: $smallFont;

    & h1 {
      font-size: $mediumHeading;
    }

    &-greeting {
      grid-column: 1 / -1;
      grid-row: 1;
      padding: 0 0 1rem 0;

      & h1 {
        background: $primaryColor;
        color: $headerWhite;
      }
    }

    &-welcome {
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      height: 100%;
      padding: 1rem;
      animation: fadeInLeft 1s ease-in-out;
    }

    &-cta {
      grid-column: 1 / -1;
      grid-row: 2;
      padding: 5rem 1rem 1rem 1rem;

      & p {
        padding: 1rem 1.5rem 2rem 1.2rem;
      }

      & h1 {
        background: $primaryColor;
        color: $headerWhite;
      }
    }

    &-additional {
      grid-column: 1 / -1;
      grid-row: -1;
      padding: 0 1rem 1rem 1rem;

      & p {
        padding: 1rem 1.5rem 2rem 1.2rem;
      }

      & h1 {
        background: $primaryColor;
        color: $headerWhite;
      }
    }

    & h1 {
      font-size: $bigHeading;
      grid-column: 1 / 3;
    }
  }

  & h1 {
    text-align: center;
  }
}