.home {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content 1rem max-content 1rem max-content;
  grid-row-gap: 2rem;

  &-greeting {
    color: $primaryColor;
    background: url("../../../images/ssc064.jpg") no-repeat center center / cover;
    filter: grayscale(100%);
    width: 90%;
    margin: 0 auto;
    grid-column: 1 / -1;
    grid-row: 1;
    margin-top: 2rem;
    padding: 0 1rem 2rem 1rem;
    height: auto;
    transition: all .3s ease-out;
    font-size: $largeFont;
    font-weight: bold;
    &:hover {
      transition: all .3s ease-in;
      filter: none;
      color: $primaryColor;
    }

    & p {
      padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    & h1 {
      text-align: center;
    }
  }

  &-image {
    grid-column: 1;
    grid-row: 1;
    display: none;
  }

  &-cta {
    grid-column: 1 / -1;
    grid-row: 3;
    background: url("../../../images/ssc041.jpg") no-repeat center center / cover;
    filter: grayscale(100%);
    height: auto;
    color: $primaryColor;
    width: 90%;
    margin: 0 auto;
    transition: all .3s ease-out;
    font-size: $largeFont;
    font-weight: bold;
    &:hover {
      transition: all .3s ease-in;
      filter: none;
    }

    padding: 0 1rem 2rem 1rem;

    & p {
      hyphens: auto;
      padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    & h1 {
      text-align: center;
    }

    & img {
      display: none;
    }
  }

  &-imagine {
    grid-column: 3;
    grid-row: 3;
    padding: 0 10rem 0 0;
    display: none;
  }

  &-additional {
    background: url("../../../images/ssc046.jpg") no-repeat center center / cover;
    filter: grayscale(100%);
    grid-column: 1 / -1;
    height: auto;
    grid-row: 5;
    color: $primaryColor;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2rem;
    transition: all .3s ease-out;
    font-size: $largeFont;
    font-weight: bold;
    &:hover {
      transition: all .3s ease-in;
      filter: none;
      color: $primaryColor;
    }

    padding: 0 1rem 2rem 1rem;

    & p {
      hyphens: auto;
      padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    & h1 {
      text-align: center;
    }
  }

  &-additionalImage {
    display: none;
  }

  // This MQ is for tablets.
  @include respond(tabLand) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1rem max-content 1rem max-content;
    font-size: $mediumFont;

    & h1 {
      box-shadow: 5px 5px #696969;
      background: $primaryColor;
      color: $headerWhite;
      font-size: $bigHeading;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      transition: all 0.3s ease-out;

      &:hover {
        width: 95%;
        transition: all 0.3s ease-in;
      }
    }

    & p {
      hyphens: auto;
      padding: 1rem 1.2rem 1.3rem 2rem;
    }

    & img {
      padding: 1rem 1rem 1rem 1.5rem;
    }

    // Content Start for class="home"
    &-greeting {
      margin-top: 1rem;
      grid-column: 1;
      color: $primaryColor;
      grid-row: 1;
      background-image: none;
      height: 100%;
      padding: 1rem 0 0 0;

      &:hover {
        background-image: none;
      }

      & p {
        animation: fadeInLeft 1s ease-in-out;
      }
    }

    &-image {
      grid-column: 2;
      grid-row: 1;
      // align-self: center;
      display: block;
      // height: auto;
      margin: 0;
      padding: 1rem 1rem 0 0;

      & a {
        height: 1px;
      }

      & img {
        margin: 1rem 1rem 0 0;
        padding: 0;
        height: auto;
      }
    }

    &-cta {
      height: 100%;
      // margin-top: 1rem;
      grid-column: 2;
      grid-row: 3;
      padding: 0;
      background-image: none;
      color: $primaryColor;

      &:hover {
        background-image: none;
      }

      & img {
        padding: 0;
        margin: 0;
        // display: block;
        display: none;
      }
    }

    &-imagine {
      grid-column: 1;
      grid-row: 3;
      align-self: center;
      padding: 0;
      display: block;

      // display: none;
      & img {
        margin: 0;
        padding: 0 0 0 1.4rem;
      }
    }

    &-additional {
      height: 100%;
      grid-column: 1;
      grid-row: 5;
      color: $primaryColor;
      padding: 0 0 1.3rem 1rem;
      margin: 0 0 0 0;
      background-image: none;

      &:hover {
        background: none;
      }

      & p {
        animation: fadeInRight 1s ease-in-out;
      }
    }

    &-additionalImage {
      // align-self: center;
      grid-column: 2;
      grid-row: 5;
      padding: 0 1rem 0 0;
      margin: 0;
      display: block;

      & a {
        padding: 0;
        margin: 0;
        height: 1rem;
      }

      & img {
        padding: 0;
        margin: 0;
      }
    }
  }

  // Content End for tablet MQ
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 1rem;
    font-size: $testBase;

    &-additionalImage {
      display: none;
    }

    & p {
      hyphens: auto;
      padding: 1rem 1.2rem 1.3rem 2rem;
    }

    & img {
      padding: 1rem 1rem 1rem 1rem;
    }

    & h1 {
      border-radius: 5rem;
      background: $primaryColor;
      color: $headerWhite;
      font-size: $bigHeading;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      transition: all 0.3s ease-out;

      &:hover {
        width: 90%;
        transition: all 0.3s ease-in;
      }
    }

    &-image {
      display: none;
    }

    &-greeting {
      width: 100%;
      background: url("../../../images/ssc064banner.jpg") no-repeat center center / cover;
      grid-column: 1;
      color: $headerWhite;
      grid-row: 1;
      font-weight: 700;
      margin: 0;
      height: 100%;
      padding: 0 0 2.5rem 0;

      &:hover {
        background: url("../../../images/ssc064banner.jpg") no-repeat center center / cover;
        color: $headerWhite;
      }

      & h1 {
        margin-top: 1rem;
        background: $headerWhite;
        color: $primaryColor;
        box-shadow: 5px 5px $primaryColor;
      }

      & p {
        animation: fadeInLeft 1s ease-in-out;
      }
    }

    &-cta {
      color: $primaryColor;
      margin-top: 1rem;
      grid-column: 1;
      grid-row: 2;
      background: none;
      height: 100%;
      width: 100%;

      &:hover {
        background: none;
      }

      & h1 {
        box-shadow: 5px 5px #696969;
        width: 60%;
      }

      & img {
        padding: 0 1.5rem 0 0;
      }
    }

    &-imagine {
      padding: 0;
      display: block;

      &img {
        display: block;
      }
    }

    &-additionalImageDesktop {
      display: none;
    }

    &-additional {
      height: 100%;
      width: 100%;
      grid-column: 1;
      grid-row: -1;
      background: url("../../../images/ssc041banner.jpg") no-repeat center center / cover;
      color: $headerWhite;
      font-weight: 700;
      padding: 0 0 1.3rem 0;

      &:hover {
        background: url("../../../images/ssc041banner.jpg") no-repeat center center / cover;
        color: $headerWhite;
      }

      & h1 {
        margin-top: 2rem;
        background: $headerWhite;
        color: $primaryColor;
        box-shadow: 5px 3px $primaryColor;
      }

      & p {
        animation: fadeInRight 1s ease-in-out;
      }
    }
  }
}

.empty {
  grid-row: 2;
  grid-column: 1 / -1;
  background: $primaryColor;
  height: 2.5px;
  margin: 0 auto;
  width: 90%;

  @include respond(tabLand) {
    grid-row: 2;
    grid-column: 1 / 3;
    background: $primaryColor;
    height: 2.5px;
    margin: 0 auto;
    width: 97%;
  }

  @include respond(phone) {
    display: none;
  }
}

.emptytwo {
  grid-row: 4;
  grid-column: 1 / -1;
  background: $primaryColor;
  height: 2.5px;
  margin: 0 auto;
  width: 90%;

  @include respond(tabLand) {
    grid-row: 4;
    grid-column: 1 / 3;
    background: $primaryColor;
    height: 2.5px;
    margin: 0 auto;
    width: 97%;
  }

  @include respond(phone) {
    display: none;
  }
}