.home {
  grid-column: 1 / -1;
  grid-row: 2;
  background: $headerWhite;
  color: $textBlack;
  font-size: $mediumFont;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30rem 40rem;

  // This MQ is for tablets.
  @include respond(tabLand) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1rem max-content 1rem max-content;
    font-size: $mediumFont;

    & h1 {
      box-shadow: 5px 5px #696969;
      background: $primaryColor;
      color: $headerWhite;
      font-size: $bigHeading;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      transition: all 0.3s ease-out;

      &:hover {
        width: 95%;
        transition: all 0.3s ease-in;
      }
    }

    & p {
      hyphens: auto;
      padding: 1rem 1.2rem 1.3rem 2rem;
    }

    & img {
      padding: 1rem 1rem 1rem 1.5rem;
    }

    // Content Start for class="home"
    &-greeting {
      margin-top: 1rem;
      grid-column: 1;
      color: $primaryColor;
      grid-row: 1;

      & p {
        animation: fadeInLeft 1s ease-in-out;
      }
    }

    &-image {
      align-self: center;
      display: block;
      height: auto;
    }

    &-cta {
      margin-top: 1rem;
      grid-column: 2;
      grid-row: 3;
      & img {
        display: none;
      }
    }

    &-ctaimage {
      grid-column: 1;
      grid-row: 3;
    }

    &-additional {
      grid-column: 1;
      grid-row: 5;
      color: $primaryColor;
      padding: 0 0 1.3rem 0;
      margin: 1rem 0 0 0;

      & p {
        animation: fadeInRight 1s ease-in-out;
      }
    }
    &-additionalImage {
      grid-column: 2;
      grid-row: 5;
    }
  }

  // Content End for tablet MQ
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-row-gap: 1rem;
    font-size: $testBase;
    &-additionalImage {
      display: none;
    }
    & p {
      hyphens: auto;
      padding: 1rem 1.2rem 1.3rem 2rem;
    }

    & img {
      padding: 1rem 1rem 1rem 1rem;
    }

    & h1 {
      border-radius: 5rem;
      background: $primaryColor;
      color: $headerWhite;
      font-size: $bigHeading;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      transition: all 0.3s ease-out;

      &:hover {
        width: 90%;
        transition: all 0.3s ease-in;
      }
    }

    &-image {
      display: none;
    }

    &-greeting {
      background: url("../../../images/ssc064banner.jpg") no-repeat center
        center / cover;
      grid-column: 1;
      color: $headerWhite;
      grid-row: 1;
      padding: 0 0 2.5rem 0;
      font-weight: 700;
      margin: 0;

      & h1 {
        margin-top: 1rem;
        background: $headerWhite;
        color: $primaryColor;
        box-shadow: 5px 5px $primaryColor;
      }

      & p {
        animation: fadeInLeft 1s ease-in-out;
      }
    }

    &-cta {
      margin-top: 1rem;
      grid-column: 1;
      grid-row: 2;

      & h1 {
        box-shadow: 5px 5px #696969;
      }

      & img {
        padding-right: 1.5rem;
      }
    }

    &-additional {
      grid-column: 1;
      grid-row: -1;
      background: url("../../../images/ssc041banner.jpg") no-repeat center
        center / cover;
      color: $headerWhite;
      font-weight: 700;
      padding: 0 0 1.3rem 0;

      & h1 {
        margin-top: 2rem;
        background: $headerWhite;
        color: $primaryColor;
        box-shadow: 5px 3px $primaryColor;
      }

      & p {
        animation: fadeInRight 1s ease-in-out;
      }
    }
  }
}

.empty {
  grid-row: 2;
  grid-column: 1 / 3;
  background: $primaryColor;
  height: 2.5px;
  margin: 0 auto;
  width: 97%;

  @include respond(phone) {
    display: none;
  }
}

.emptytwo {
  grid-row: 4;
  grid-column: 1 / 3;
  background: $primaryColor;
  height: 2.5px;
  margin: 0 auto;
  width: 97%;

  @include respond(phone) {
    display: none;
  }
}

// .additionalImage {
//   grid-column: 2;
//   grid-row: 5;
//   // align-self: center;
// }
