// Looking @Work.js, you can see I had to pass in index as className. So here, I'm using
// &-Images going through each photo eg: &-Images { &-0 to target each image and place inside
// Of the grid I've created. Pretty cool stuff.

.Work {
  display: grid;
  grid-template-rows: 5rem 1fr 10rem 1fr;
  margin: 0;
  padding: 0;
 }

.image-gallery-image {
  img {
    width: 100vw;
    height: 90vh;
    @include respond(tabLand) {
      width: 75vw;
      height: 80vh;
    }
  }
}

.Work-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
}