.Work {
  font-size: 2rem;
  height: 100vh;
  background-image: linear-gradient(to right bottom, $mediumPurple, darken($mediumPink, 30%));
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
 }