// BodyContent component. Will be shown on a majority of things. Possibly just the main page?
// .BodyContent {
//   background: rgb(52, 46, 80);
//   color: black;
//   font-size: 2.2rem;
//   grid-column: 1 / span 7;
//   grid-row: 2 / -1;
//   display: grid;
//   grid-template-columns: repeat(5, 20%);
//   grid-template-rows: repeat(3, 1fr) 10rem;
// }

.BodyContent {
  background: rgb(52, 46, 80);
  color: black;
  font-size: 2.2rem;
  grid-column: 1 / span 7;
  grid-row: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 1fr) 10rem;
  &-One {
    grid-column: 1 / span 5;
    justify-self: center;
    text-decoration: underline;
  }
  &-Two {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    background: #000;
    display: flex;
    height: 50%;
    width: 75%;
    justify-self: center;
  }
  @include respond(customSmall) {
    grid-column: 1 / -1;
    grid-row: 1 / span -1;
    height: 102vh;
  }
}