// Styling for react-burger-menu
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1rem;
  top: 1rem;
  @include respond(customSmall) {
    width: 2rem;
    height: 2rem;
    top: .2rem;
  }
  @include respond(tabLand) {
    width: 3rem;
    height: 3rem;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $white;
}

/* Position and sizing of clickable cross button */

/* Color/shape of close button cross */
.bm-cross {
  background: darken($darkerGrey, 10%);
  border: none;
  outline: none;
  &-button {
    outline: none;
    border: none;
    background: white;
    border-radius: 50%; 
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* General sidebar styles */
.bm-menu {
  background: darken($darkerGrey, 10%);
  font-size: 2rem;
  list-style: none;
  &-item {
    position: relative;
    margin-top: 3rem;
    width: 75%;
    &:note(:last-child) {
      margin-bottom: .5rem;
    }
    &-active {
      background: $mediumPurple;
    }
  }
  &-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: $mediumPink;
    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
  }
  &-item:hover::before,
  &-item-active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &-item:active::before {
    background-color: $mediumPink;
  }
  &-link:link,
  &-link:visited {
    border: none;
    outline: none;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    &:active {
      border: none;
      outline: none;
    }
  }
}

.bm-menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}