.footer {
  grid-column: 2 / -1;
  grid-row: 5;
  background: $primaryColor;
  text-align: center;
  font-size: 1.3rem;

  @include respond(tabPort) {
    grid-row: -1;
    grid-column: 1;
  }

  & a {
    color: black;
    text-decoration: underline;
    padding: 0 0 1rem 0;
  }
}