.header {
  grid-column: 1;
  background: rgba(220, 224, 223, .45);
  position: sticky;
  left: 0;
  top: 0;
  height: 35%;
  display: grid;
  grid-template-rows: repeat(5, 10rem);
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  scroll-behavior: smooth;

  & a {
    display: inline-block;
    height: 30%;
  }

  &-home {
    grid-row: 1;
  }

  &-creations {
    grid-row: 2;
  }

  &-about {
    grid-row: 3;
  }

  &-contact {
    grid-row: 4;
  }
}