// Styling for ImageGallery Component. Will be shown on main page. Here I'm creating a nested grid to showcase images
.ImageGallery {
  background: lighten($darkerGrey, 7%);
  color: black;
  font-size: 2.2rem;
  grid-column: 8 / -1;
  grid-row: 4 / 10;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  &-Image {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
}
