// Styling for ImageGallery Component. Will be shown on main page. Here I'm creating a nested grid to showcase images
.ImageGallery {
  background: $burntOrange;
  color: black;
  grid-column: 8 / -1;
  grid-row: 4 / 10;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  @include respond(customSmall) {
    display: none;
  }
  @include respond(tabLand) {
    grid-row: 2 / 10;
  }
  &-Image {
    &-One {
      grid-column: 3;
      grid-row: 2;
      height: 25rem;
      width: 25rem;
      @include imageGalleryImages;
      &:hover {
        z-index: 50;
      }
    }
    &-Two {
      width: 20rem;
      height: 20rem;
      grid-column: 4;
      grid-row: 3;
      @include imageGalleryImages;
    }
    &-Three {
      width: 10rem;
      height: 10rem;
      grid-column: 2;
      grid-row: 2;
      @include imageGalleryImages;
    }
    @include respond(tabLand) {
      width: 5rem;
      height: 5rem;
    }
  }
}