.Modal {
  background: rgb(35, 41, 48);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 75%;
  height: 75%;
}

.Backdrop {
  position: absolute;
  height: 102vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 1);
  &:active {
    grid-column: 1 / span -1;
    grid-row: 1 / span -1;
  }
}

.ModalMover {
  grid-column: 3 / 4;
  grid-row: 4;
  justify-self: center;
}

.ModalDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}