.nav {
  grid-column: 1 / -1;
  grid-row: 1;
  background: $primaryColor;
  position: sticky;
  top: 0;
  color: $headerWhite;
  font-size: $base;
  display: grid;
  grid-template-columns: 70% repeat(4, 1fr);

  &-slide {
    padding: .5rem 0 .5rem 1.1rem;
    width: 5rem;

    & svg {
      height: 2.5rem;
      stroke: $headerWhite;
    }

    &__menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background: $primaryColor;
      opacity: 0.97;
      overflow-x: hidden;
      padding-top: 5rem;
      transition: 0.5s;
      display: grid;
      grid-row-gap: 8rem;
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: repeat(8, 1fr);


      & a {
        margin-top: 5rem;
        font-size: $mediumFont;
        grid-column: 2;
        height: 1rem;
        width: 1rem;
        padding: 1rem 8rem 0 0;
        justify-self: center;
      }
    }

    &__close {
      text-align: center;
      color: $headerWhite;
      background: $primaryColor;
      position: absolute;
      top: 0;
      right: .5rem;
      font-size: 4rem;
      margin-left: 7rem;
    }
  }

  @include respond(tabLand) {
    position: absolute;
    background: transparent;

    &-primary {
      display: none;
      grid-template-columns: 1fr;
    }
  }

  & div {
    padding: 1rem 0 1rem 0;
    justify-items: center;
    text-align: center;
  }

  &-home {
    grid-column: 2;
  }

  &-about {
    grid-column: 3;
  }

  &-work {
    grid-column: 4;
  }

  &-contact {
    grid-column: 5;
  }
}

@media (min-width: 1200px) {
  .nav-slide {
    display: none;
  }
}