.nav {
  grid-column: 1 / -1;
  grid-row: 1;
  background: $primaryColor;
  position: sticky;
  top: 0;
  color: $headerWhite;
  font-size: $base;
  display: grid;
  grid-template-columns: 70% repeat(3, 1fr);
  z-index: 3;

  & h1 {
    text-align: left;
    padding: 0 1rem 0 5rem;
    grid-row: 1;
    grid-column: 1;
    font-size: 3rem;
    width: 100%;
  }

  &-slide {
    justify-self: center;
    align-self: center;
    padding: 0 0 0 1rem;
    width: 5rem;

    & ul {
      display: grid;
    }

    & svg {
      height: 2.5rem;
      stroke: $headerWhite;
    }

    &__current {
      text-decoration: underline;
      background: $headerWhite;
      color: $primaryColor;
      width: 100%;
      border-radius: 5rem;

      &:hover {
        animation: shake 2s infinite;
      }
    }

    &__menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      opacity: .985;
      top: 0;
      left: 0;
      background: $primaryColor;
      overflow-x: hidden;
      padding-top: 5rem;
      transition: 0.5s;
      display: grid;
      grid-template-columns: 1fr;

      & a {
        display: block;
        margin: 10rem 0 2.5rem 0;
        font-size: $largeHeading;
        grid-column: 1;
        padding: 1rem 1.2rem 1rem 1.2rem;
      }
    }

    &__close {
      text-align: center;
      color: $headerWhite;
      background: $primaryColor;
      position: absolute;
      top: 0;
      right: .5rem;
      font-size: 4rem;
      margin-left: 7rem;
    }
  }

  @include respond(tabLand) {
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;
    z-index: 3;

    &-primary {
      display: none;
    }
  }

  @include respond(phone) {
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;
    z-index: 3;

    & h1 {
      text-align: center;
      padding: .5rem 1rem 1rem 0;
      grid-row: 1;
      grid-column: 2;
      font-size: 2.2rem;
    }

    &-slide {
      padding: .45rem 0 0 1rem;
      grid-row: 1;
      grid-column: 1;
    }

    &-primary {
      display: none;
      grid-template-columns: 1fr;
    }
  }

  & div {
    padding: 1rem 0 1rem 0;
    justify-items: center;
    text-align: center;
    transition: all .3s ease-out;
  }

  &-home {
    grid-column: 2;

    &:hover {
      background: $headerWhite;

      & a {
        color: $primaryColor;
      }
    }
  }

  &-work {
    grid-column: 3;

    &:hover {
      background: $headerWhite;

      & a {
        color: $primaryColor;
      }
    }
  }

  &-contact {
    grid-column: 4;

    &:hover {
      background: $headerWhite;

      & a {
        color: $primaryColor;
      }
    }
  }
}

@media (min-width: 1200px) {
  .nav-slide {
    display: none;
  }
}