.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content max-content min-content;

  // @include respond(tabLand) {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: min-content 130vh max-content;
  // }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
  }
}