// .Home {
//   display: grid;
//   grid-template-rows: 5rem 25vh min-content 10rem 30.1vw repeat(3, min-content) 4.6rem;
//   grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
// }

.Home {
  display: grid;
  grid-template-rows: 5rem 25vh min-content 10rem 30.1vw repeat(3, min-content) 4.5vh;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  height: 100vh;
}