.RotatingCardContainer {
  grid-column: 8 / -1;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  @include respond(customSmall) {
    display: none;
  }
  @include respond(tabLand) {
    height: 50%;
  }
}