.ContactSuper {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  margin-top: 2rem;
  border: 1px solid black;
  padding: 1.5rem;
}

.Contact {
  display: grid;
  width: 75%;
  padding: 1.5rem;
  margin: 1.5rem;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  border: 1px solid black;
}

.FacebookLink {
  border: none;
  background: #3B5998;
  color: $lightwhite;
  cursor: pointer;
}

.EmailLink {
  border: none;
  background: $lightwhite;
  color: $soulblack;
  cursor: pointer;
}