.Contact {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
  margin-top: 2rem;
}

.FacebookLink {
  border: none;
  background: #3B5998;
  color: $lightwhite;
  cursor: pointer;
}

.EmailLink {
  border: none;
  background: $lightwhite;
  color: $soulblack;
  cursor: pointer;
}